body{
    font-family: Verdana;
    font-size: 2em;
    background-color: red;
    text-align: center;
    text-decoration-color: aquamarine;
    
}
h1{
    background-color: blue;
}
h2{
    background-color: pink;
}
h3{
    background-color: blue;
}
p{
    background-color: aquamarine;
}